<section id="timeline" class="timeline-left timeline-wrapper">

    <!-- Now -->
    <ul class="timeline">
        <li class="timeline-line"></li>
        <li class="timeline-group">
          <a class="btn btn-raised btn-primary"><i class="fa fa-calendar-o"></i> Now </a>
        </li>
      </ul>
      <ul class="timeline">
          <li class="timeline-line"></li>

          <li class="timeline-item">
              <div class="timeline-badge">
                  <span class="bg-primary bg-lighten-1" data-toggle="tooltip" data-placement="right" title="11:00 - 12:00"><i class="ft-zap"></i></span>
              </div>
              <div class="timeline-card card border-grey border-lighten-2">
                <div class="card-header">
                  <div class="scrolling-wrapper row" matchHeight ="card" matchWidth ="card">

                    <div class="card-group">

                        <div class="card">
                            <img class="card-img-top" src="assets/img/photos/01.jpg" width="200" alt="Timeline Image 1">
                            <div class="card-header">
                              <h4 class="card-title mb-0"><a>Frontyard</a></h4>
                              <div class="card-subtitle text-muted mt-0">
                                  <span class="font-small-3">15 min ago</span>
                              </div>
                          </div>
                        </div>

                        <div class="card">
                          <div class="card-header">
                              <h4 class="card-title mb-0"><a>Backyard</a></h4>
                              <div class="card-subtitle text-muted mt-0">
                                  <span class="font-small-3">16 min ago</span>
                              </div>
                          </div>
                          <div class="card-body">
                              <img class="img-fluid" src="assets/img/photos/02.jpg" width="200" alt="Timeline Image 2">
                          </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title mb-0"><a>Frontyard</a></h4>
                                <div class="card-subtitle text-muted mt-0">
                                    <span class="font-small-3">15 min ago</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <img class="img-fluid" src="assets/img/photos/01.jpg" width="200" alt="Timeline Image 1">
                            </div>
                          </div>

                          <div class="card">
                            <div class="card-header">
                                <h4 class="card-title mb-0"><a>Backyard</a></h4>
                                <div class="card-subtitle text-muted mt-0">
                                    <span class="font-small-3">16 min ago</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <img class="img-fluid" src="assets/img/photos/02.jpg" width="200" alt="Timeline Image 2">
                            </div>
                          </div>

                          <div class="card">
                              <div class="card-header">
                                  <h4 class="card-title mb-0"><a>Frontyard</a></h4>
                                  <div class="card-subtitle text-muted mt-0">
                                      <span class="font-small-3">15 min ago</span>
                                  </div>
                              </div>
                              <div class="card-body">
                                  <img class="img-fluid" src="assets/img/photos/01.jpg" width="200" alt="Timeline Image 1">
                              </div>
                            </div>

                            <div class="card">
                              <div class="card-header">
                                  <h4 class="card-title mb-0"><a>Backyard</a></h4>
                                  <div class="card-subtitle text-muted mt-0">
                                      <span class="font-small-3">16 min ago</span>
                                  </div>
                              </div>
                              <div class="card-body">
                                  <img class="img-fluid" src="assets/img/photos/02.jpg" width="200" alt="Timeline Image 2">
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
              </div>
          </li>
      </ul>

    <!-- 1 hour ago -->
    <ul class="timeline">
      <li class="timeline-line"></li>
      <li class="timeline-group">
        <a class="btn btn-raised btn-primary"><i class="fa fa-calendar-o"></i> 1 hour ago </a>
      </li>
    </ul>
    <ul class="timeline">
        <li class="timeline-line"></li>

        <li class="timeline-item">
            <div class="timeline-badge">
                <span class="bg-primary bg-lighten-1" data-toggle="tooltip" data-placement="right" title="11:00 - 12:00"><i class="ft-zap"></i></span>
            </div>
            <div class="timeline-card card border-grey border-lighten-2">
                <div class="card-header">
                    <h4 class="card-title mb-0"><a>Frontyard</a></h4>
                    <div class="card-subtitle text-muted mt-0">
                        <span class="font-small-3">15 min ago</span>
                    </div>
                </div>
                <div class="card-body">
                    <img class="img-fluid" src="assets/img/photos/02.jpg" width="200" alt="Timeline Image 1">
                </div>
            </div>
        </li>
    </ul>


  </section>
  <!--Vertical Timeline Ends-->
