<ion-header>
  <ion-toolbar>
    <ion-button slot="start" [routerLink]="['/settings']"><ion-icon name="settings"></ion-icon></ion-button>
    <ion-button slot="end" (click)="onLogout()">Logout</ion-button>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-card *ngFor="let motion of motions; let i=index"> 
    <ion-card-header no-padding>
      <ion-card-subtitle>
        <ion-list>
          <ion-item lines="none">
              {{motion.Occurred}} : {{motion.Camera}}
            <ion-button slot="end" *ngIf="motion.ShowTagCloud" (click)="onSwitchTagCloud(i)">
              <ion-icon name="image"></ion-icon>
            </ion-button>
            <ion-button slot="end" *ngIf="!motion.ShowTagCloud" (click)="onSwitchTagCloud(i)">
              <ion-icon name="list"></ion-icon>
            </ion-button>
            <app-face-button slot="end" [faces] = "motion.Faces" (click)="onFaceClick(motion)">
              
            </app-face-button>
          </ion-item>
        </ion-list>
      </ion-card-subtitle>
    </ion-card-header>
    <app-cloud-view *ngIf="motion.ShowTagCloud" [data]="motion.Labels"></app-cloud-view>
    <app-image-view *ngIf="!motion.ShowTagCloud" [frame] = "motion.Frame" [faces] = "motion.Faces" (click)="onClick(motion)"></app-image-view>
  </ion-card>
</ion-content>

<ion-footer>
  <app-date-selector [dashboard]="this"></app-date-selector>
</ion-footer>