<!-- Sidebar Header starts -->
<div class="sidebar-header">
    <div class="logo clearfix">
        <a [routerLink]="['/']" class="logo-text float-left">
            <span class="text align-right">IKNCU</span>
        </a>
        <div class="logo-img">
          <img src="../../../../assets/img/portrait/avatars/corvid1.png" width=50/>
      </div>
    </div>
</div>
<!-- Sidebar Header Ends -->

<!-- Sidebar Content starts -->
<div class="sidebar-content">
    <div class="nav-container">
        <ul class="navigation">
            <!-- First level menu -->
            <li>
                <a routerLink="/home/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fa fa-fw fa-dashboard"></i>&nbsp;
                    <span>{{ 'Dashboard'  }}</span>
                </a>
            </li>
            <li>
                <a [routerLink]="['/home/settings/basic']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fa fa-fw fa-gear"></i>&nbsp;
                    <span>{{ 'Settings'  }}</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- Sidebar Content Ends -->
