<section id="simple">
  <div class="row text-left">
      <div class="col-sm-12">
          <div class="card">
              <div class="card-body">
                  <div class="card-block">
                      <ng2-smart-table
                          [source]="source"
                          [settings]="settings">
                      </ng2-smart-table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<ngx-spinner
bdColor = "rgba(51,51,51,0.56)"
size = "medium"
color = "#082284"
type = "ball-beat">
</ngx-spinner>

<!-- <div class="row">
  <form class="form-inline">
      <div class="form-group">
          <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" (dateSelect)="onDateSelection($event)"
                  name="dp" [(ngModel)]="fromDate" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
              <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Today</button>
          </div>
          </div>
      </div>
  </form>
</div>

<div class="row">
  <div class="card-body table-responsive">
      <table class="table" id="dataTable"  cellspacing="0">
      <thead>
          <tr>
          <th>UserId</th>
          <th>Time</th>
          <th>Camera</th>
          <th>Object</th>
          <th>Frame</th>
          </tr>
      </thead>
      <tfoot>
          <tr>
          <th>UserId</th>
          <th>Time</th>
          <th>Camera</th>
          <th>Object</th>
          <th>Frame</th>
          </tr>
      </tfoot>
      <tbody>
          <tr *ngFor="let e of events; let i=index;">
          <td>{{e.userid}}</td>
          <td>{{formatDateFromHappend(e.happened.toString())}}</td>
          <td>{{e.cameraid}}</td>
          <td>
              <ul>
                  <li *ngFor="let item of e.labels | keyvalue">
                      {{item.key}}:{{formatConfidence(item.value)}}%
                  </li>
              </ul>
          <td><img src="{{bucketPath + e.frame}}" style="width:30%;"/></td>
          </tr>
      </tbody>
      </table>
  </div>
</div> -->
