<section id="simple">
  <div class="row">
    <form class="form-inline">
        <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" (dateSelect)="onDateSelection($event)"
                      name="dp" [(ngModel)]="fromDate" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"></button>
                  <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Today</button>
              </div>
              <ng5-slider
                [(value)]="this.fromHour"
                (userChangeEnd)="this.onSliderChange()"
                [(highValue)]="this.toHour"
                [options]="this.options">
              </ng5-slider>
            </div>
        </div>
    </form>
  </div>

  <div class="row text-left">
      <div class="col-sm-12">
          <div class="card">
              <div class="card-body">
                  <div class="card-block">
                      <ng2-smart-table
                          [source]="source"
                          [settings]="settings">
                      </ng2-smart-table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


<ngx-spinner
bdColor = "rgba(51,51,51,0.56)"
size = "medium"
color = "#082284"
type = "ball-beat">
</ngx-spinner>

