.box {
  background-color: #FFCC55;
  max-height: 0px;
  overflow-y: hidden;
  transition: ease-in-out 400ms max-height;
}

.box.opened {
  max-height: 500px;
  transition: ease-in-out 600ms max-height;
}

/* .modal-full {
  min-width: 100%;
  margin: 0;
}

.modal-full .modal-content {
  min-height: 100vh;
}

.wrapper .glyphicon {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 40px;
   color: white;
}

.wrapper {
  display: relative;
} */
