.box {
  background-color: #FFCC55;
  max-height: 0px;
  overflow-y: hidden;
  transition: ease-in-out 400ms max-height;
}

.box.opened {
  max-height: 500px;
  transition: ease-in-out 600ms max-height;
}

.button-group {
  width: 100%;
  margin-left: 15px;
}
.button-line {
  width: 100%;
}
.button-col {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.button-col button{
  background-color: #bbb;
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

.button-vertical {
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
  transform: rotate(270deg);
}

/* .modal-full {
  min-width: 100%;
  margin: 0;
}

.modal-full .modal-content {
  min-height: 100vh;
}

.wrapper .glyphicon {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 40px;
   color: white;
}

.wrapper {
  display: relative;
} */
