<div class="card mb-3" >
  <div class="card-header">
    <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
    </ngb-datepicker>

    <ng-template #t let-date let-focused="focused">
      <span class="custom-day"
            [class.focused]="focused"
            [class.range]="isRange(date)"
            [class.faded]="isHovered(date) || isInside(date)"
            (mouseenter)="hoveredDate = date"
            (mouseleave)="hoveredDate = null">
        {{ date.day }}
      </span>
    </ng-template>

    <hr>

    <pre>From: {{ fromDate | json }} </pre>
    <pre>To: {{ toDate | json }} </pre>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>UserId</th>
            <th>Happened</th>
            <th>Camera</th>
            <th>Object</th>
            <th>Frame</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>UserId</th>
            <th>Happened</th>
            <th>Camera</th>
            <th>Object</th>
            <th>Frame</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let e of events; let i=index;">
            <td>{{e.userid}}</td>
            <td>{{e.happened}}</td>
            <td>{{e.cameraid}}</td>
            <td>
                <ul>
                    <li *ngFor="let item of e.labels | keyvalue">
                        {{item.key}}:{{item.value}}%
                    </li>
                </ul>
            <td>{{e.frame}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
