<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Data Table Example</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>UserId</th>
            <th>Happened</th>
            <th>Camera</th>
            <th>Object</th>
            <th>Frame</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>UserId</th>
            <th>Happened</th>
            <th>Camera</th>
            <th>Object</th>
            <th>Frame</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let e of events.Items; let i=index;">
            <td>{{e.userid}}</td>
            <td>{{e.happened}}</td>
            <td>{{e.cameraid}}</td>
            <td></td>
            <td>{{e.frame}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
