<ion-virtual-scroll [items]="motions">
  <ion-item *virtualItem="let motion; let i=index">
    <ion-card> 
      <ion-card-header>
          {{motion.Occurred}} : {{motion.Camera}}

          <!-- <ion-segment *ngIf="motion.ShowTagCloud"> -->
            <ion-button *ngIf="motion.ShowTagCloud" (click)="onSwitchTagCloud(i)">
              <ion-icon name="image"></ion-icon>
            </ion-button>
          <!-- </ion-segment> -->

          <!-- <ion-segment *ngIf="!motion.ShowTagCloud"> -->
            <ion-button *ngIf="!motion.ShowTagCloud" (click)="onSwitchTagCloud(i)">
              <ion-icon name="list"></ion-icon>
            </ion-button>
          <!-- </ion-segment> -->
      
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size-md="12">
              <app-cloud-view *ngIf="motion.ShowTagCloud" [data]="motion.Labels"></app-cloud-view>
              <app-image-view *ngIf="!motion.ShowTagCloud" [frame] = "motion.Frame" [faces] = "motion.Faces" (click)="onClick(motion)"></app-image-view>
     
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-virtual-scroll>

