<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Settings
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <form role="form">
              <div class="form-group">
                  <label>Alarm Email</label>
                  <input class="form-control" value="{{setting.alarm_email}}"/>
                  <label>Eamil Pattern</label>
                  <input class="form-control" value="{{setting.email_pattern}}"/>
                  <label>Labels</label>
                  <input class="form-control" value="{{setting.labels}}"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
