<!-- <div class="btn btn-outline-primary" (click) = "onClickBack()"><i class="icon-arrow-left"></i></div> -->

<div class="row">
  <div class="col-lg-2 col-sm-4" *ngFor="let face of faces; let i = index">
    <div class="card">
      <div class="card-title">
        <h2>Face {{i+1}}</h2>
      </div>
      <div class="card-block">
        <div class="card-block">
          <select [(ngModel)]="facesCategorized[i].CategoryId" (change)="onFaceCategoryChange(i)" [ngModelOptions]="{standalone: true}" class="form-control">
            <option *ngFor="let category of categories" value={{category.Id}}>{{category.Name}}</option>
          </select>
        </div>
        <div class="card-img">
          <img class="mx-auto d-block" src="{{bucketPath}}{{userId}}/{{frame}}/{{i+1}}"/>
        </div>
      </div>
    </div>
  </div>
</div>
<canvas #canvas (click) = "onClickBack()"></canvas>
