<!-- <div class="btn btn-outline-primary" (click) = "onClickBack()"><i class="icon-arrow-left"></i></div> -->

<div class="row">
  <div class="col-lg-4 col-md-4 col-xs-4" *ngFor="let face of faces; let i = index">
    <div class="card">
      <div class="card-title">
        <h2>Face {{i+1}}</h2>
      </div>
      <div class="card-block">
        <div class="card-block">
          <fieldset class="form-group">
            <label>Name</label>
            <input class="form-control" [(ngModel)]="facesCategorized[i].Name"/>
          </fieldset>
          <fieldset class="form-group">
            <label>Category</label>
            <select [(ngModel)]="facesCategorized[i].CategoryId" (change)="onFaceCategoryChange(i)" [ngModelOptions]="{standalone: true}" class="form-control">
              <option *ngFor="let category of categories" value={{category.Id}}>{{category.Name}}</option>
            </select>
          </fieldset>
        </div>
      </div>
      <div class="card-img img-fluid">
        <img class="mx-auto d-block" src="{{facesBucketPath}}{{userId}}/{{motionId}}/{{i+1}}"/>
      </div>
    </div>
  </div>
</div>
<canvas #canvas (click) = "onClickBack()"></canvas>
