<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Roman Klimenko</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

    <ion-item>
      <ion-label position="floating" color="primary">Name</ion-label>
      <ion-input [(ngModel)]="profile.name" readonly></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating" color="primary">Id</ion-label>
      <ion-input [(ngModel)]="profile.id" readonly></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input [(ngModel)]="profile.email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating" color="primary">Tier</ion-label>
      <ion-input [(ngModel)]="profile.tier" readonly></ion-input>
    </ion-item>
        
</ion-content>
