<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button slot="start" color="primary" routerLink="/settings/profile/edit">Edit</ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="isLoading" text-center>
      <ion-spinner color="primary"></ion-spinner>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-label><b>{{user.Name}}</b></ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label>Id</ion-label>
          <ion-label><b>{{user.Id}}</b></ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-label><b>{{user.Email}}</b></ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label>TierId</ion-label>
          <ion-label><b>{{user.TierId}}</b></ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
