<ion-header>
  <ion-toolbar>
    <ion-button [routerLink]="['edit/1']"><ion-icon name="create"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>{{profile.name}}</ion-card-title>
    <ion-card-subtitle>{{profile.id}}</ion-card-subtitle>
    <ion-card-content>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2">
          Email: {{profile.email}} 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2">
          Tier: {{profile.tier}} 
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
