<div class="col-md-12 col-lg-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Settings</h4>
    </div>
    <div class="card-body">
      <div class="card-block">
          <nav mat-tab-nav-bar>
              <a mat-tab-link
                *ngFor="let link of navLinks"
                [routerLink]="link.link"
                routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
              {{link.label}}
            </a>
          </nav>
          <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

