{
    "version": "2017-02-28",
    "operation": "PutItem",
    "key": {
        "userid": $util.dynamodb.toDynamoDBJson($ctx.identity.sub)
    },
    "attributeValues" : $util.dynamodb.toMapValuesJson($ctx.args)
}